<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzHyq3w_06rdBLV4XMHTh1i7-x2yO85jA</string>
	<key>GCM_SENDER_ID</key>
	<string>108800125068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-990cd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-990cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108800125068:ios:1bebea1c492f5fddb4f3a9</string>
</dict>
</plist>